/* css styles */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* define colors */
:root {
  --primary-dark: #161D0A;
  --primary-medium: #496012;
  --primary-light: #7B8C05;
  --secondary-dark: #30211C;
  --secondary-medium: #A0947A;
  --secondary-light: #BDB7A6;
  --light: #F8F5F2;
}

.btn-link {
  color: var(--secondary-light);
  --bs-btn-hover-color: var(--secondary-dark);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--secondary-light);
}

a {
  color: var(--secondary-light);
}

a:hover {
  color: var(--primary-dark);
}

h {
  color: #242E0C;
}

.navbar {
  background-color: var(--primary-dark)
}

.navbar a {
  color: var(--light);
}

.navbar a:hover {
  color: var(--primary-light);
}

/* Example of linking a Google Font 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
*/

body {
  background-color: var(--light);
  font-family: 'Roboto', sans-serif;
}

.small-text {
  font-size: 12px;
}

.nav-footer {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}

.nav-footer a {
  color: var(--secondary-light);
}

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 1px solid var(--secondary-dark);
  color: var(--secondary-dark) !important;
}

.sidebar nav[role="doc-toc"] a.active,
.sidebar nav[role="doc-toc"] a:hover {
  border-left: 1px solid var(--secondary-dark);
  color: var(--secondary-dark) !important;
}

.nav-link a:hoover {
  color: var(--secondary-dark);

}